## Pandas 
1. Python library for data manipulation and analysis.
2. Offers data structures like DataFrames for tabular data.
3. Provides tools for reading, writing, and cleaning data.

### Pandas Data Frame
Pandas Dataframe is 2-D tabular data structure with labeled axes (rows and columns).

In [34]:
# importing the pandas libary 
import pandas as pd

### Creating Pandas DataFrame 

##### Importing the iris data from sklearn libary as it contains so many dataset

In [35]:
# importing the iris data from sklearn libary as it contains so many dataset 
from sklearn.datasets import load_iris

In [36]:
iris_datasets = load_iris()

In [37]:
type(iris_datasets)

sklearn.utils._bunch.Bunch

In [38]:
print(iris_datasets)

{'data': array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]]), 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]), 'frame': None, 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'), 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n:Number of Instances: 150 (50 in each of three classes)\n:Number of Attributes: 4 numeric, predictive attributes and the class\n:Attribute Information:\n    - sepal length in cm\n    - sepal width in cm\n    - petal length in cm\n    - petal width in cm\n    - class:\n            - Iris-Setosa\n            - Iris-Versicolour\n            - Iris-Virginica\n\n:Summary Statistics:\n\n============== ==== ==== ======= ===== ====================\n                Min  Max   Mean    SD   Class Correlation\n============== ==== ==== ======= ===== ====================\nsepal length:   4.3  7.9   5.84   0.83    0.7826\nsepal width:    2.0  4.4   3.05   0.43   -0.4194\npetal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\npetal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n============== ==== ==== ======= ===== ====================\n\n:Missing Attribute Values: None\n:Class Distribution: 33.3% for each of 3 classes.\n:Creator: R.A. Fisher\n:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n:Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n|details-start|\n**References**\n|details-split|\n\n- Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n  Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n  Mathematical Statistics" (John Wiley, NY, 1950).\n- Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n  (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n- Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n  Structure and Classification Rule for Recognition in Partially Exposed\n  Environments".  IEEE Transactions on Pattern Analysis and Machine\n  Intelligence, Vol. PAMI-2, No. 1, 67-71.\n- Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n  on Information Theory, May 1972, 431-433.\n- See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n  conceptual clustering system finds 3 classes in the data.\n- Many, many more ...\n\n|details-end|\n', 'feature_names': ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)'], 'filename': 'iris.csv', 'data_module': 'sklearn.datasets.data'}

In [39]:
# renaming the iris_datasets as a
a = iris_datasets

In [40]:
a

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n:Number of Instances: 150 (50 in each of three classes)\n:Number of Attributes: 4 numeric, predictive attributes and the class\n:Attribute Information:\n    - sepal length in cm\n    - sepal width in cm\n    - petal length in cm\n    - petal width in cm\n    - class:\n            - Iris-Setosa\n            - Iris-Versicolour\n            - Iris-Virginica\n\n:Summary Statistics:\n\n============== ==== ==== ======= ===== ====================\n                Min  Max   Mean    SD   Class Correlation\n============== ==== ==== ======= ===== ====================\nsepal length:   4.3  7.9   5.84   0.83    0.7826\nsepal width:    2.0  4.4   3.05   0.43   -0.4194\npetal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\npetal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n============== ==== ==== ======= ===== ====================\n\n:Missing Attribute Values: None\n:Class Distribution: 33.3% for each of 3 classes.\n:Creator: R.A. Fisher\n:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n:Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n|details-start|\n**References**\n|details-split|\n\n- Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n  Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n  Mathematical Statistics" (John Wiley, NY, 1950).\n- Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n  (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n- Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n  Structure and Classification Rule for Recognition in Partially Exposed\n  Environments".  IEEE Transactions on Pattern Analysis and Machine\n  Intelligence, Vol. PAMI-2, No. 1, 67-71.\n- Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n  on Information Theory, May 1972, 431-433.\n- See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n  conceptual clustering system finds 3 classes in the data.\n- Many, many more ...\n\n|details-end|\n',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'iris.csv',
 'data_module': 'sklearn.datasets.data'}

In [41]:
# pandas dataframe as it will make these datas into more structured form 
iris_df = pd.DataFrame(a.data , columns = a.feature_names)
print(iris_df)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [42]:
# for first five rows of datasets 
print(iris_df.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [43]:
# for total number of rows and columns 
print(iris_df.shape) # (150 rows and 4 columns)

(150, 4)

#### Importing datasets from CSV files

In [44]:
# CSV file to pandas DF
Datasets = pd.read_csv(r"C:\Users\utkar\100 days ML\diabetes.csv")

In [45]:
type(Datasets)

pandas.core.frame.DataFrame

In [46]:
# renaming the datasets as b 
b = Datasets

In [47]:
b

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [48]:
b.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [49]:
b.shape

(768, 9)

#### Loading the data from a excel file to a Pandas DataFrame

In [50]:
d = pd.read_excel(r"C:\Users\utkar\100 days ML\PowerBI Raw Data Online.xlsx")

In [51]:
type(d)

pandas.core.frame.DataFrame

In [52]:
d.shape

(25630, 28)

In [53]:
d.head()

,Account_No,Fiscal_Month,Product_Category,Revenue,Partner_Fee,Registration_Fee,Future Opportunities,Future Opportunities Opportunities_Extrapulation,Baseline,Target,...,Segment,Store_Manager_Alias,Potential_Account,Vertical_Manager_Alias,General_Seller,Services_Seller,Support_Seller,Product_Seller,Marketing Spend,Distinct ID
0,90404604,"February , (FY21)",Support,0,0,0,0,0,0,258.72,...,Priority Commercial,STRLUCAS,True,MSTADCAS,gcrclab,welheEN,yteMAEN,welMAIZ,0.000000,2345
1,90404604,"January , (FY20)",Online Products,0,0,0,0,0,0,0.00,...,Priority Commercial,STRLUCAS,True,MSTADCAS,gcrclab,welheEN,yteMAEN,welMAIZ,47.000000,2346
2,90404604,"January , (FY20)",Services,88390,0,0,0,0,0,0.00,...,Priority Commercial,STRLUCAS,True,MSTADCAS,gcrclab,welheEN,yteMAEN,welMAIZ,57428.103896,2347
3,90404604,"January , (FY21)",Online Products,433,0,0,0,0,0,24714.48,...,Priority Commercial,STRLUCAS,True,MSTADCAS,gcrclab,welheEN,yteMAEN,welMAIZ,201.623853,2348
4,90404604,"January , (FY21)",Services,25736,0,0,0,0,0,456.96,...,Priority Commercial,STRLUCAS,True,MSTADCAS,gcrclab,welheEN,yteMAEN,welMAIZ,38998.939394,2349

### Exporting a DataFrame to a CSV file

In [59]:
iris_df.to_csv('iris.csv')  
# for excel 
# iris_df.to_excel('iris.csv')

### Creating the DataFrame with random Values

In [60]:
# for that first import numpy libary 
import numpy as np

In [62]:
random_df = pd.DataFrame(np.random.rand(20,10))

In [63]:
random_df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.931421,0.102021,0.998707,0.931625,0.611143,0.972272,0.237472,0.909048,0.180945,0.529454
1,0.554847,0.727215,0.684592,0.870819,0.458664,0.672474,0.668387,0.426209,0.805600,0.203821
2,0.454800,0.311393,0.504606,0.954420,0.692825,0.740672,0.516513,0.690733,0.689163,0.378333
3,0.611890,0.013833,0.057983,0.166953,0.863075,0.756281,0.223982,0.082163,0.491211,0.399500
4,0.176056,0.412824,0.081201,0.019050,0.213425,0.167877,0.640979,0.003756,0.598349,0.646691

In [64]:
random_df.shape

(20, 10)

### Properties of DataFrame

In [68]:
# finding the number of rows and column first rows and then columns
print(iris_df.shape)
print(b.shape)
print(d.shape)
print(random_df.shape)

(150, 4)
(768, 9)
(25630, 28)
(20, 10)

In [70]:
# first five rows  head() function is used
print(iris_df.head())
print(b.head())
print(d.head())
print(random_df.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2
   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0            6      148             72             35        0  33.6
1            1       85             66             29        0  26.6
2            8      183             64              0        0  23.3
3            1       89             66             23       94  28.1
4            0      137             40             35      168  43.1

   DiabetesPedigreeFunction  Age  Outcome
0                     0.627   50        1
1                     0.351   31        0
2                     0.672   32        1
3                     0.167   21        0
4                     2.288   33        1
   Account_No       Fiscal_Month Product_Category  Revenue  Partner_Fee  \
0    90404604  February , (FY21)          Support        0            0
1    90404604   January , (FY20)  Online Products        0            0
2    90404604   January , (FY20)         Services    88390            0
3    90404604   January , (FY21)  Online Products      433            0
4    90404604   January , (FY21)         Services    25736            0

   Registration_Fee  Future Opportunities  \
0                 0                     0
1                 0                     0
2                 0                     0
3                 0                     0
4                 0                     0

   Future Opportunities Opportunities_Extrapulation  Baseline    Target  ...  \
0                                                 0         0    258.72  ...
1                                                 0         0      0.00  ...
2                                                 0         0      0.00  ...
3                                                 0         0  24714.48  ...
4                                                 0         0    456.96  ...

               Segment  Store_Manager_Alias Potential_Account  \
0  Priority Commercial             STRLUCAS              True
1  Priority Commercial             STRLUCAS              True
2  Priority Commercial             STRLUCAS              True
3  Priority Commercial             STRLUCAS              True
4  Priority Commercial             STRLUCAS              True

  Vertical_Manager_Alias  General_Seller Services_Seller Support_Seller  \
0               MSTADCAS         gcrclab         welheEN        yteMAEN
1               MSTADCAS         gcrclab         welheEN        yteMAEN
2               MSTADCAS         gcrclab         welheEN        yteMAEN
3               MSTADCAS         gcrclab         welheEN        yteMAEN
4               MSTADCAS         gcrclab         welheEN        yteMAEN

  Product_Seller Marketing Spend Distinct ID
0        welMAIZ        0.000000        2345
1        welMAIZ       47.000000        2346
2        welMAIZ    57428.103896        2347
3        welMAIZ      201.623853        2348
4        welMAIZ    38998.939394        2349

[5 rows x 28 columns]
          0         1         2         3         4         5         6  \
0  0.931421  0.102021  0.998707  0.931625  0.611143  0.972272  0.237472
1  0.554847  0.727215  0.684592  0.870819  0.458664  0.672474  0.668387
2  0.454800  0.311393  0.504606  0.954420  0.692825  0.740672  0.516513
3  0.611890  0.013833  0.057983  0.166953  0.863075  0.756281  0.223982
4  0.176056  0.412824  0.081201  0.019050  0.213425  0.167877  0.640979

          7         8         9
0  0.909048  0.180945  0.529454
1  0.426209  0.805600  0.203821
2  0.690733  0.689163  0.378333
3  0.082163  0.491211  0.399500
4  0.003756  0.598349  0.646691

In [71]:
# now for last five rows tail() function is used 
print(iris_df.tail())
print(b.tail())
print(d.tail())
print(random_df.tail())

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8
     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0
       Account_No       Fiscal_Month Product_Category  Revenue  Partner_Fee  \
25625    90404604  December , (FY20)          Support        0            0
25626    90404604  February , (FY20)  Online Products      249            0
25627    90404604  February , (FY20)         Services    70786            0
25628    90404604  February , (FY21)  Online Products        0            0
25629    90404604  February , (FY21)         Services        0            0

       Registration_Fee  Future Opportunities  \
25625                 0                     0
25626                 0                     0
25627                 0                     0
25628                 0                     0
25629                 0                     0

       Future Opportunities Opportunities_Extrapulation  Baseline     Target  \
25625                                                 0         0    444.108
25626                                                 0         0      0.000
25627                                                 0         0      0.000
25628                                                 0       433  23480.520
25629                                                 0     25736    454.440

       ...              Segment  Store_Manager_Alias Potential_Account  \
25625  ...  Priority Commercial             STRLUCAS              True
25626  ...  Priority Commercial             STRLUCAS              True
25627  ...  Priority Commercial             STRLUCAS              True
25628  ...  Priority Commercial             STRLUCAS              True
25629  ...  Priority Commercial             STRLUCAS              True

      Vertical_Manager_Alias  General_Seller Services_Seller Support_Seller  \
25625               MSTADCAS         gcrclab         welheEN        yteMAEN
25626               MSTADCAS         gcrclab         welheEN        yteMAEN
25627               MSTADCAS         gcrclab         welheEN        yteMAEN
25628               MSTADCAS         gcrclab         welheEN        yteMAEN
25629               MSTADCAS         gcrclab         welheEN        yteMAEN

      Product_Seller Marketing Spend Distinct ID
25625        welMAIZ       21.000000       27970
25626        welMAIZ      131.887160       27971
25627        welMAIZ    84305.047619       27972
25628        welMAIZ       59.000000       27973
25629        welMAIZ       73.000000       27974

[5 rows x 28 columns]
           0         1         2         3         4         5         6  \
15  0.621194  0.612878  0.832928  0.191238  0.213419  0.918170  0.131388
16  0.307991  0.503755  0.477280  0.203256  0.754346  0.623214  0.334612
17  0.434083  0.169809  0.341120  0.078787  0.733720  0.821060  0.524125
18  0.215462  0.851764  0.035189  0.353609  0.927638  0.678343  0.825029
19  0.196859  0.480381  0.024669  0.094235  0.865732  0.006083  0.097298

           7         8         9
15  0.112172  0.541017  0.053321
16  0.351351  0.965269  0.046476
17  0.544026  0.758232  0.952683
18  0.454972  0.248620  0.192120
19  0.708940  0.539414  0.927255

In [72]:
# information about the dataframe info() function is used 
print(iris_df.info())
print(b.info())
print(d.info())
print(random_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25630 entries, 0 to 25629
Data columns (total 28 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Account_No                                        25630 non-null  int64
 1   Fiscal_Month                                      25630 non-null  object
 2   Product_Category                                  25630 non-null  object
 3   Revenue                                           25630 non-null  int64
 4   Partner_Fee                                       25630 non-null  int64
 5   Registration_Fee                                  25630 non-null  int64
 6   Future Opportunities                              25630 non-null  int64
 7   Future Opportunities Opportunities_Extrapulation  25630 non-null  int64
 8   Baseline                                          25630 non-null  int64
 9   Target                                            25630 non-null  float64
 10  Future_Opportunities_Into_RR                      25630 non-null  int64
 11  No_Of_Opportunities                               25630 non-null  int64
 12  Fiscal_Quarter                                    25630 non-null  object
 13  Fiscal_Year                                       25630 non-null  object
 14  Month_ID                                          25630 non-null  int64
 15  Account_Name                                      25630 non-null  object
 16  Industry                                          25630 non-null  object
 17  Vertical                                          25630 non-null  object
 18  Segment                                           25630 non-null  object
 19  Store_Manager_Alias                               25630 non-null  object
 20  Potential_Account                                 25630 non-null  bool
 21  Vertical_Manager_Alias                            25630 non-null  object
 22  General_Seller                                    15183 non-null  object
 23  Services_Seller                                   15183 non-null  object
 24  Support_Seller                                    15183 non-null  object
 25  Product_Seller                                    15183 non-null  object
 26  Marketing Spend                                   25630 non-null  float64
 27  Distinct ID                                       25630 non-null  int64
dtypes: bool(1), float64(2), int64(11), object(14)
memory usage: 5.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       20 non-null     float64
 1   1       20 non-null     float64
 2   2       20 non-null     float64
 3   3       20 non-null     float64
 4   4       20 non-null     float64
 5   5       20 non-null     float64
 6   6       20 non-null     float64
 7   7       20 non-null     float64
 8   8       20 non-null     float64
 9   9       20 non-null     float64
dtypes: float64(10)
memory usage: 1.7 KB
None

In [75]:
# findig the number of missing values  isnull().sum() is used to find this 
b.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [76]:
d.isnull()

,Account_No,Fiscal_Month,Product_Category,Revenue,Partner_Fee,Registration_Fee,Future Opportunities,Future Opportunities Opportunities_Extrapulation,Baseline,Target,...,Segment,Store_Manager_Alias,Potential_Account,Vertical_Manager_Alias,General_Seller,Services_Seller,Support_Seller,Product_Seller,Marketing Spend,Distinct ID
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25625,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25626,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25627,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25628,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25629,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [77]:
d.isnull().sum()

Account_No                                              0
Fiscal_Month                                            0
Product_Category                                        0
Revenue                                                 0
Partner_Fee                                             0
Registration_Fee                                        0
Future Opportunities                                    0
Future Opportunities Opportunities_Extrapulation        0
Baseline                                                0
Target                                                  0
Future_Opportunities_Into_RR                            0
No_Of_Opportunities                                     0
Fiscal_Quarter                                          0
Fiscal_Year                                             0
Month_ID                                                0
Account_Name                                            0
Industry                                                0
Vertical                                                0
Segment                                                 0
Store_Manager_Alias                                     0
Potential_Account                                       0
Vertical_Manager_Alias                                  0
General_Seller                                      10447
Services_Seller                                     10447
Support_Seller                                      10447
Product_Seller                                      10447
Marketing Spend                                         0
Distinct ID                                             0
dtype: int64

In [78]:
b.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [81]:
# countiing the values based of labels 
b.value_counts('Outcome') # it will give the total count of values present or specific value in the columns

Outcome
0    500
1    268
Name: count, dtype: int64

In [83]:
# Group the values based on their means groupby('column_name').mean() function used
b.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

#### Statistical Measures

In [87]:
# count of values in each column count() function is used
b.count()

Pregnancies                 768
Glucose                     768
BloodPressure               768
SkinThickness               768
Insulin                     768
BMI                         768
DiabetesPedigreeFunction    768
Age                         768
Outcome                     768
dtype: int64

In [85]:
iris_df.count()

sepal length (cm)    150
sepal width (cm)     150
petal length (cm)    150
petal width (cm)     150
dtype: int64

In [88]:
# means values column wise  mean() function is used
b.mean()

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [90]:
iris_df.mean()

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64

In [89]:
# standard deviation 
b.std()

Pregnancies                   3.369578
Glucose                      31.972618
BloodPressure                19.355807
SkinThickness                15.952218
Insulin                     115.244002
BMI                           7.884160
DiabetesPedigreeFunction      0.331329
Age                          11.760232
Outcome                       0.476951
dtype: float64

In [91]:
iris_df.std()

sepal length (cm)    0.828066
sepal width (cm)     0.435866
petal length (cm)    1.765298
petal width (cm)     0.762238
dtype: float64

In [94]:
# for minimum value 
b.min()

Pregnancies                  0.000
Glucose                      0.000
BloodPressure                0.000
SkinThickness                0.000
Insulin                      0.000
BMI                          0.000
DiabetesPedigreeFunction     0.078
Age                         21.000
Outcome                      0.000
dtype: float64

In [96]:
random_df.min()

0    0.004595
1    0.013833
2    0.012788
3    0.003374
4    0.155928
5    0.006083
6    0.049315
7    0.003756
8    0.032109
9    0.046476
dtype: float64

In [97]:
iris_df.min()

sepal length (cm)    4.3
sepal width (cm)     2.0
petal length (cm)    1.0
petal width (cm)     0.1
dtype: float64

In [98]:
# for maximum values 
iris_df.max()

sepal length (cm)    7.9
sepal width (cm)     4.4
petal length (cm)    6.9
petal width (cm)     2.5
dtype: float64

In [100]:
# statisical method in one times  describe()
iris_df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [101]:
b.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

#### Manipulating a DataFrame

In [106]:
# adding a column to a dataframe
iris_df['total'] = iris_datasets # or a both can be used

In [107]:
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),total
0,5.1,3.5,1.4,0.2,NaN
1,4.9,3.0,1.4,0.2,NaN
2,4.7,3.2,1.3,0.2,NaN
3,4.6,3.1,1.5,0.2,NaN
4,5.0,3.6,1.4,0.2,NaN

In [108]:
# removing a particular row drop( index= number) , axis = 0 for row and  1 for column
iris_df.drop( index=2 , axis = 0  )

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),total
0,5.1,3.5,1.4,0.2,NaN
1,4.9,3.0,1.4,0.2,NaN
3,4.6,3.1,1.5,0.2,NaN
4,5.0,3.6,1.4,0.2,NaN
5,5.4,3.9,1.7,0.4,NaN
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,NaN
146,6.3,2.5,5.0,1.9,NaN
147,6.5,3.0,5.2,2.0,NaN
148,6.2,3.4,5.4,2.3,NaN
149,5.9,3.0,5.1,1.8,NaN

In [112]:
# for removing a particular column drop( columns= name , axis = 1)
iris_df.drop(columns = 'total' , axis= 1) 
# for permanent removing any column or row from the dataset you have to create new varible and store the table 
z = iris_df.drop(columns = 'total' , axis= 1) 
print(z)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [119]:
# locating particular using index value iloc[]row 
z.iloc[2]

sepal length (cm)    4.7
sepal width (cm)     3.2
petal length (cm)    1.3
petal width (cm)     0.2
Name: 2, dtype: float64

In [125]:
# locating particular column 
print(z.iloc[ : ,0]) # first column
print(z.iloc[:,1]) # second column 
print(z.iloc[:,2]) # third column
print(z.iloc[:,-1]) # last column

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length (cm), Length: 150, dtype: float64
0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal width (cm), Length: 150, dtype: float64
0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petal length (cm), Length: 150, dtype: float64
0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal width (cm), Length: 150, dtype: float64

#### Correlation 
Correlation in pandas measures the linear relationship between columns, ranging from -1 to 1.
1. Positive Correlation : Two variables move in the same direction, indicating a direct relationship.
2. Negative Correlation :Variables move in opposite directions, indicating an inverse relationship.

In [128]:
print(z.corr())
print(b.corr())
print(random_df.corr())

                   sepal length (cm)  sepal width (cm)  petal length (cm)  \
sepal length (cm)           1.000000         -0.117570           0.871754
sepal width (cm)           -0.117570          1.000000          -0.428440
petal length (cm)           0.871754         -0.428440           1.000000
petal width (cm)            0.817941         -0.366126           0.962865

                   petal width (cm)
sepal length (cm)          0.817941
sepal width (cm)          -0.366126
petal length (cm)          0.962865
petal width (cm)           1.000000
                          Pregnancies   Glucose  BloodPressure  SkinThickness  \
Pregnancies                  1.000000  0.129459       0.141282      -0.081672
Glucose                      0.129459  1.000000       0.152590       0.057328
BloodPressure                0.141282  0.152590       1.000000       0.207371
SkinThickness               -0.081672  0.057328       0.207371       1.000000
Insulin                     -0.073535  0.331357       0.088933       0.436783
BMI                          0.017683  0.221071       0.281805       0.392573
DiabetesPedigreeFunction    -0.033523  0.137337       0.041265       0.183928
Age                          0.544341  0.263514       0.239528      -0.113970
Outcome                      0.221898  0.466581       0.065068       0.074752

                           Insulin       BMI  DiabetesPedigreeFunction  \
Pregnancies              -0.073535  0.017683                 -0.033523
Glucose                   0.331357  0.221071                  0.137337
BloodPressure             0.088933  0.281805                  0.041265
SkinThickness             0.436783  0.392573                  0.183928
Insulin                   1.000000  0.197859                  0.185071
BMI                       0.197859  1.000000                  0.140647
DiabetesPedigreeFunction  0.185071  0.140647                  1.000000
Age                      -0.042163  0.036242                  0.033561
Outcome                   0.130548  0.292695                  0.173844

                               Age   Outcome
Pregnancies               0.544341  0.221898
Glucose                   0.263514  0.466581
BloodPressure             0.239528  0.065068
SkinThickness            -0.113970  0.074752
Insulin                  -0.042163  0.130548
BMI                       0.036242  0.292695
DiabetesPedigreeFunction  0.033561  0.173844
Age                       1.000000  0.238356
Outcome                   0.238356  1.000000
          0         1         2         3         4         5         6  \
0  1.000000 -0.249581  0.145700  0.332344  0.014360  0.469783 -0.254141
1 -0.249581  1.000000  0.083205 -0.084095 -0.314918 -0.112178  0.368243
2  0.145700  0.083205  1.000000  0.499960 -0.458495  0.378797 -0.267227
3  0.332344 -0.084095  0.499960  1.000000  0.081143  0.281037 -0.203949
4  0.014360 -0.314918 -0.458495  0.081143  1.000000  0.105814 -0.122566
5  0.469783 -0.112178  0.378797  0.281037  0.105814  1.000000  0.144120
6 -0.254141  0.368243 -0.267227 -0.203949 -0.122566  0.144120  1.000000
7  0.384106  0.152764  0.134926  0.394195  0.096363 -0.043596 -0.121361
8 -0.314653 -0.124529 -0.018373 -0.169849 -0.002088  0.001643  0.031944
9 -0.023144 -0.192034 -0.047831 -0.108075  0.007871 -0.376884 -0.050956

          7         8         9
0  0.384106 -0.314653 -0.023144
1  0.152764 -0.124529 -0.192034
2  0.134926 -0.018373 -0.047831
3  0.394195 -0.169849 -0.108075
4  0.096363 -0.002088  0.007871
5 -0.043596  0.001643 -0.376884
6 -0.121361  0.031944 -0.050956
7  1.000000 -0.578752  0.170097
8 -0.578752  1.000000 -0.168413
9  0.170097 -0.168413  1.000000